body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    color: #333;
}

header h1 a {
    text-decoration: none;
    color: #333;
}

.site-logo {
    text-align: center;
    padding: 0;
    background: none;
}

.site-logo img {
    width: 100;
    max-height: 100px; /* adjust if needed */
    object-fit: none;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    background: #333;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#wrapper {
    max-width: 1100px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* Input and Output Field Styling */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}